<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8">
        <script src="https://npmcdn.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css"> 
        <title>The Cabin Form</title>
       </head>
          
        <body>
                <header> 
                        <div>Riverside Cabins Form</div>                
                </header>
                <a href="index.html">HomePage</a>
                <a href="CustomerSearch.html">CustomerSearch</a>
                <a href="FormSelection.html">FormSelection</a>
                <a href="FormV1.html">FormV1</a>
        </body>
                <div id="formV2">
                    
                    <div>
                        <p>clientId: {{clientId}} and formId: {{formId}}</p>
                    </div>


                    <div v-if="notEdit == false">
                        <button v-on:click="resetEdit"> Reset Edit</button>
                    </div>
                    
                    <div>
                        <button v-on:click="editData"> edit </button>
                    </div>
                    <div v-if = "notEdit"> click edit to input data </div>

                    <div class="formInfo" >

                        <div style="position: relative">
                            <div for="fName" class="formLabelA">First Name:</div>
                            <div for="lName" class="formLabelB">Last Name: </div>
                        </div>
                        <br>
                        <div style="position: relative" >
                            <input type="text" name="fName" placeholder="First Name..." v-model="jsonPayload.fName" class="formInputA" v-bind:disabled="notEdit">
                            <input type="text" name="lName" placeholder="Last Name..." v-model="jsonPayload.lName" class="formInputB" v-bind:disabled="notEdit">
                        </div>
                        <br>
                        <div style="position: relative">
                            <div for="email" class="formLabelA">Primary Email:</div>
                            <div for="email" class="formLabelB">Secondary Email:</div>
                        </div>
                        <br>
                        <div style="position: relative">
                            <input type="text" name="email" v-model="jsonPayload.email" class="formInputA" v-bind:disabled="notEdit">
                            <input type="text" name="email" v-model="jsonPayload.secondEmail" class="formInputB" v-bind:disabled="notEdit">    
                        </div>
                        <br>
                        <div style="position: relative">
                            <div for="Phone" class="formLabelA">Primary Phone #:</div>
                            <div for="Phone" class="formLabelB">Secondary Phone #:</div>
                        </div>
                        <br>
                        <div style="position: relative">
                            <input type="text" name="Phone" v-model="jsonPayload.primaryPhone" class="formInputA" v-bind:disabled="notEdit">
                            <input type="text" name="Phone" v-model="jsonPayload.secondaryPhone" class="formInputB" v-bind:disabled="notEdit">    
                        </div>
                        <br>
                        <div style="position: relative">
                            <div for="Address" class="formLabelA">Customer Home Address:</div>
                            <div for="Address" class="city">City:</div>
                            <div for="Address" class="state">State:</div>
                            <div for="Address" class="zip">Zip:</div>
                        </div>
                        <br>
                        <div style="position: relative">
                            <input type="text" name="Address" v-model="jsonPayload.homeAdress" class="adressInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.homeCity" class="cityInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.homeState" class="stateInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.homeZip" class="zipInput" v-bind:disabled="notEdit">
                        </div>
                        <br>
                        <div style="position: relative">
                            <div for="Address" class="formLabelA">Cabin Location Address:</div>
                            <div for="Address" class="city">City:</div>
                            <div for="Address" class="state">State:</div>
                            <div for="Address" class="zip">Zip:</div>
                        </div>
                        <br>
                        <div style="position: relative">
                            <input type="text" name="Address" v-model="jsonPayload.jobAdress" class="adressInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.jobCity" class="cityInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.jobState" class="stateInput" v-bind:disabled="notEdit">
                            <input type="text" name="Address" v-model="jsonPayload.jobZip" class="zipInput" v-bind:disabled="notEdit">
                        </div>
                        <br>
                        <div>Hit submit to enter data</div>
                    </div>
                    <div>
                        <button v-on:click="submit">submit</button>
                    </div>
                </div>
                
        
                <script>
                var urlParams = new URLSearchParams(window.location.search);
                new Vue({
                el: '#formV2',
                data: {
                    notEdit: true,
                    jsonPayload: {
                        fName: "",
                        lName: "",
                        email: "",
                        secondEmail: "",
                        primaryPhone: "",
                        secondaryPhone: "",
                        homeAdress: "",
                        homeCity: "",
                        homeState: "",
                        homeZip: "",
                        jobAdress:  "",
                        jobCity: "",
                        jobState: "",
                        jobZip: "",
                    },
                    formId: urlParams.get('formId'),
                    clientId: urlParams.get('userId'),
                },
                created: function() {
                    this.initJson();
                },
                methods: {
                    editData: function(){
                        if (this.notEdit == false){
                            this.notEdit = true;
                        }
                        else {
                            this.notEdit  = false;
                        }
                    },

                    resetEdit: function() {
                        if (confirm(`Do you want to erase all edits since the edit button was pressed permanently?`)) {
                            this.initJson();
                        }
                    },
                    submit: function() {
                        axios.put('/updateForm?formId=' + this.formId, this.jsonPayload)
                            .then(res => {
                                console.log('it was a success');
                            })
                            .catch(error => {
                                console.log('something went wrong');
                            })
                            this.notEdit=true;
                    },
                    initJson: function() {
                        axios.get('/getFormInfo?formId=' + this.formId)
                            .then(res => {
                                console.log("success " + res.data);
                                // 204 is when there was a response but there was no data 
                                if (res.status != 204) {
                                    console.log("setting the data");
                                    this.jsonPayload = res.data;
                                }
                            })
                            .catch(error => {
                                console.log("failure");
                            })
                    },
                }
            });
                            </script>

        
    </html>