<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/bulma.css">
        <title>The Cabin Form</title>
    </head>
    <div id="customer-search">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title has-text-centered ">
                        Riverside Cabins Form
                </h1>
                </div>
            </div>
        </section>
        <body><section class="section">
            <div class="columns is-mobile is-centered">
                <div>
                    <input class="input is-rounded" type="text" name="fName" placeholder="Search by name or ID" v-model="idFilter" v-on:input="refresh">
                    <div v-for="customer in customers">
                        <a v-bind:href="'FormSelection.html?custId='+customer.Id"><strong>{{customer.Name}} {{customer.Id}}</strong></a>
                    </div>
                    <button v-on:click="createUser">Create New User</button>
                </div>
            </div>
        </section><body>
            

    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <a href="index.html"><strong>Go Back To Home</strong></a>
            </p>
        </div>
    </footer>
</html>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#customer-search',
        data: {
            idFilter: 1,
            customers: "",
        },
        created: function() {
            this.refresh();
        },
        methods: {
            createUser: function() {
                axios.get('/getNewCustomer')
                .then(res => {
                    // may want to switch this to #'s since this is just info for front end
                    window.location.href = 'http://localhost:8081/BasicCustomerInfo.html?custId=' + res.data + '&formId=1';
                })
                .catch(error => {
                    alert(error);
                })
            },
            refresh: function() {
                if (this.idFilter >= 1) {
                    axios.get('/getCustomers?custId='+this.idFilter)
                    .then(res => {
                    this.customers = res.data
                    })
                }
            }
        }
    });
</script>