<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://npmcdn.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
            <a href="index.html">HomePage</a>
            <a href="CustomerSearch.html">CustomerSearch</a>
            <a href="BasicCustomerInfo.html">BasicCustomerInfo</a>
            <a href="FormSelection.html">FormSelection</a>
    </body>
    <div id="formV1">
        <div>
            <p>clientId: {{clientId}} and formId: {{formId}}</p>
        </div>

        <div>
            <button v-on:click="editData"> Edit</button>
        </div>

        <div v-if="edit">
            <button v-on:click="resetEdit"> Reset Edit</button>
        </div>

        <div v-if="edit">
            <input type="text" v-model="jsonPayload.email">
            <input type="text" v-model="jsonPayload.address">
            <input type="text" v-model="jsonPayload.var3">
        </div>
        <div v-else>
            <p>{{jsonPayload.email}}</p>
            <p>{{jsonPayload.address}}</p>
            <p>{{jsonPayload.var3}}</p>
        </div>

        <div v-if="edit">
            <button v-on:click="submit"> Submit</button>
        </div>  
             
    </div>

    <script src="scripts/index.js" ></script>

</html>


