<!DOCTYPE html>
<html lang="en">
    <body>
            <a href="index.html">HomePage</a>
            <a href="CustomerSearch.html">CustomerSearch</a>
            <a href="BasicCustomerInfo.html">BasicCustomerInfo</a>
            <a href="FormSelection.html">FormSelection</a>
    </body>
    <div id="formV1">
        <div>
            <p>userId: {{userId}} and formId: {{formId}}</p>
        </div>
        <div>
            <button v-on:click="editData"> Edit</button>
        </div>
        <div v-if="edit">
            <button v-on:click="resetEdit"> Reset Edit</button>
        </div>
        <div v-if="edit">
            <input type="text" v-model="jsonPayload">
        </div>
        <div v-else>
            <p>{{jsonPayload}}</p>
        </div>
        <div v-if="edit">
            <button v-on:click="submit"> Submit</button>
        </div>
    </div>
</html>


<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var urlParams = new URLSearchParams(window.location.search);
new Vue({
    el: '#formV1',
    data: {
        edit: false,
        jsonPayload: "",
        formId: urlParams.get('formId'),
        userId: urlParams.get('userId'),
    },
    created: function() {
        this.initJson();
    },
    methods: {
        editData: function() {
            if (this.edit == true) {
                if (confirm("Do you want to leave edit mode and submit changes?")) {
                    this.edit = false;
                }
            } else {
                this.edit = true;
            }
        },
        resetEdit: function() {
            if (confirm(`Do you want to erase all edits since the edit button was pressed permanently?`)) {
                this.initJson();
            }
        },
        submit: function() {
            alert(this.jsonPayload);
        },
        initJson: function() {
            this.jsonPayload = "stub values";
        },
    }
});
// maybe have the data interactively change on other forms  when someone submits
</script>