<!DOCTYPE html>
<html lang="en">
    <body>
            <a href="index.html">HomePage</a>
            <a href="CustomerSearch.html">CustomerSearch</a>
            <a href="BasicCustomerInfo.html">BasicCustomerInfo</a>
            <a href="FormSelection.html">FormSelection</a>
    </body>
    <div id="formV1">
        <div>
            <p>clientId: {{clientId}} and formId: {{formId}}</p>
        </div>
        <div>
            <button v-on:click="editData"> Edit</button>
        </div>
        <div v-if="edit">
            <button v-on:click="resetEdit"> Reset Edit</button>
        </div>
        <div v-if="edit">
            <input type="text" v-model="jsonPayload.email">
            <input type="text" v-model="jsonPayload.address">
            <input type="text" v-model="jsonPayload.var3">
        </div>
        <div v-else>
            <p>{{jsonPayload.email}}</p>
            <p>{{jsonPayload.address}}</p>
            <p>{{jsonPayload.var3}}</p>
        </div>
        <div v-if="edit">
            <button v-on:click="submit"> Submit</button>
        </div>
    </div>
</html>


<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var urlParams = new URLSearchParams(window.location.search);
new Vue({
    el: '#formV1',
    data: {
        edit: false,
        jsonPayload: {
            email: "",
            address: "",
            var3: "",
        },
        formId: urlParams.get('formId'),
        clientId: urlParams.get('userId'),
    },
    created: function() {
        this.initJson();
    },
    methods: {
        editData: function() {
            if (this.edit == true) {
                if (confirm("Do you want to leave edit mode and submit changes?")) {
                    this.edit = false;
                }
            } else {
                this.edit = true;
            }
        },
        resetEdit: function() {
            if (confirm(`Do you want to erase all edits since the edit button was pressed permanently?`)) {
                this.initJson();
            }
        },
        submit: function() {
            axios.put('/updateForm?formId=' + this.formId, this.jsonPayload)
                .then(res => {
                    console.log('it was a success');
                })
                .catch(error => {
                    console.log('something went wrong');
                })
        },
        initJson: function() {
            axios.get('/getFormInfo?formId=' + this.formId)
                .then(res => {
                    console.log("success " + res.data);
                    // 204 is when there was a response but there was no data 
                    if (res.status != 204) {
                        console.log("setting the data");
                        this.jsonPayload = res.data;
                    }
                })
                .catch(error => {
                    console.log("failure");
                })
        },
    }
});
// maybe have the data interactively change on other forms  when someone submits
</script>